{% include 'bibliotech/partials/head.html' %}

<body>
    <header class="main-header-container">
        <div class="main-header main-container">
            <h1><i class="fa-solid fa-book"></i>bibliotech</h1>
        </div>
    </header>
    <!--Aqui é o link do js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>